.form{
    padding: 10px;
}

fieldset{
    border: none;
}

.form input{
    width: 40px;
}

.content{
    display: flex;
    justify-content: center;
}

body{
    background: #e5e3ff;
}

.block-tables{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

table{
    border: 1px solid black;
    background: #bfc1ff;
}

#generation, #changeValue{
    width: 100px;
}

table input{
    width: 50px;
    height: 40px;
    justify-content: center;
}

table button{
    position: absolute;
    justify-content: center;
}

body .block-form{
    text-align: center;
}

h1, h2, h3 {
    font-size: 23px;
}

p{
    font-size: 18px;
}

.orange{
    color: orange;
}

.green{
    color: green;
}